<!DOCTYPE html>
<html lang="en">
{{>header}}

<body>
    {{>navbar}}
    {{>hero}}
    {{>main}}
    {{>section}}
    {{>footer}}
 {{#if isAdded}}
<script>
Swal.fire({
  icon: 'success',
  title: 'Success',
  text: `your data is saved.`,
  footer: '<a href="/login">Login now</a>'
})
</script>
 {{/if}} 

</body>

</html>