<!DOCTYPE html>
<html lang="en">
{{>header}}

<body>
    {{>navbar}}
    {{#if isFalse}}
    <div class="alert alert-danger alert-dismissible fade show mt-1 text-center" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}
    <div class="register-form-container">
        <h1 class="text-center mt-3"><u>Registration Form</u></h1>
        <form class="row p-5" action="/register" method="POST">
            <div class="col-lg-6">
                <div class="mb-2">
                    <label for="firstname" class="form-label">First Name</label>
                    <input type="text" class="form-control had-invalid" id="firstname" name="firstname"
                        autocomplete="off" required>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-2">
                    <label for="lastname" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" autocomplete="off" required>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-2">
                    <label for="email" class="form-label">Email</label>
                    <input type="Email" class="form-control" id="email" name="email" autocomplete="off" required>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-2 form-check" style="    margin-top: 30px">
                    <label for="male">Male</label>
                    <input type="radio" name="gender" id="male" class="mb-2" value="male" checked>
                    <label for="female">Female</label>
                    <input type="radio" name="gender" id="female" class="mb-2" value="female">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-2">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" class="form-control" id="phone" name="phone" autocomplete="off" required>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-2">
                    <label for="age" class="form-label">Age</label>
                    <input type="text" class="form-control" id="age" name="age" autocomplete="off" required>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-2">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" autocomplete="off"
                        required>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-2">
                    <label for="confirmpassword" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmpassword" name="confirmpassword"
                        autocomplete="off" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3" value="register">Register</button>
        </form>
    </div>
    {{>footer}}
</body>

</html>